<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.danoeh.antennapod"
    android:installLocation="auto">

    <application
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="AntennaPod"
        android:theme="@style/Theme.Material3.Light">

        <activity
            android:name=".activity.PreferenceActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
