<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.danoeh.antennapod"
    android:installLocation="auto">

    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="AntennaPod"
        android:restoreAnyVersion="true"
        android:theme="@style/Theme.Material3.Light"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:logo="@mipmap/ic_launcher"
        android:resizeableActivity="true"
        android:allowAudioPlaybackCapture="true"
        android:networkSecurityConfig="@xml/network_security_config">

        <meta-data android:name="com.google.android.gms.car.notification.SmallIcon"
                   android:resource="@drawable/ic_feed"/>
        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc"/>

        <activity
            android:name=".activity.PreferenceActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/settings_label">
            <intent-filter>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <receiver
            android:name=".core.receiver.PlayerWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="de.danoeh.antennapod.FORCE_WIDGET_UPDATE"/>
                <action android:name="de.danoeh.antennapod.STOP_WIDGET_UPDATE"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.ConnectivityActionReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.SPAReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="de.danoeh.antennapdsp.intent.SP_APPS_QUERY_FEEDS_RESPONSE"/>
            </intent-filter>
        </receiver>

        <provider
            android:authorities="@string/provider_authority"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/actions" />
    </application>

</manifest>
